@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
    <h1>Stylist Details</h1>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
</div>
<hr />
<div class="link-container">
    <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId})</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>