@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
    <h1>Edit</h1>
    <h4>Editing stylist: @Html.DisplayFor(model => model.Name)</h4>
</div>
<hr />

@using (Html.BeginForm())
{   <div class="form-container">
        @Html.HiddenFor(model => model.StylistId)
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    </div>
    <div class="center">
        <input type="submit" value="Save" class="btn"/>
    </div>
}
<div class="link-container">
    <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>