@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h4>Add a new Client</h4>

<p><strong>NOTE:</strong> You need to have at least one restaurant before you can add an Client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylist") to create a stylist.</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new Client" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all Client", "Index")</p>